.btn {
  &-sign-up {
    border-radius: 5px;
    border: 1px solid $light-blue;
    background-color: rgba(201, 9, 4, 0);
    padding: 10px 40px;
    color: $light-blue;
    font: 700 16px/22px Raleway;
    margin-left: 40px;
    &:focus {
      outline: none;
    }
  }
  &-search {
    position: relative;
    left: -4px;
    background-color: #e7434e;
    border: none;
    &:focus {
      outline: none;
    }
    &-find {
      border-radius: 0 5px 5px 0;
      padding: 18px 40px;
    }
    &-own {
      border-radius: 5px;
      padding: 18px 40px;
    }
    &-footer {
      padding: 9px 27px;
      border-radius: 0 5px 5px 0;
    }
  }
  &-destination {
    border-radius: 5px;
    background-color: #e7434e;
    font: 700 1rem/1.4rem Open Sans;
    position: absolute;
    top: 30px;
    left: 28px;
    border: none;
    &:focus {
      outline: none;
    }
    &-country {
      padding: 10px 16px 10px 22px;
    }
    &-boat {
      padding: 10px 16px 10px 10px;
    }
  }
  &-explore-more {
    color: #343434;
    font: 700 14px/22px Raleway;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid rgba(38, 38, 38, 0.3);
    margin: 70px auto 0;
    padding: 20px 50px;
    &:focus {
      outline: none;
    }
  }
}

.social {
  margin-top: 30px;
  text-align: center;
  @media screen and (max-width: 769px)  {
    margin-left: 50px;
  }
  .smGlobalBtn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 44px;
    height: 44px;
    padding: 0;
    text-decoration: none;
    color: $white;
    font-size: 20px;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
  }
  .facebookBtn{
    background: #717171;
    padding: 2px 0 0 15px;
    &:before{
      font-family: "FontAwesome";
      content: "\f09a";
    }
    &:hover{
      color: #4060A5;
      background: $white;
    }
  }
  .twitterBtn{
    padding: 3px 0 0 14px;
    background: #717171;
    margin-left: 10px;
    &:before{
      font-family: "FontAwesome";
      content: "\f099";
    }
    &:hover{
      color: #00ABE3;
      background: $white;
    }
  }
  .googleplusBtn{
    padding: 3px 0 0 10px;
    background: #717171;
    margin-left: 10px;
    &:before{
      font-family: "FontAwesome";
      content: "\f0d5";
    }
    &:hover{
      color: #e64522;
      background: $white;
    }
  }
}

